<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Json.NET.ContractResolverExtentions" version="1.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="NuGet.Build.Packaging" version="0.1.276" targetFramework="net45" developmentDependency="true" />
</packages>