<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Facturapi" version="0.4.1.29699" targetFramework="net452" />
  <package id="Json.NET.ContractResolverExtentions" version="1.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
</packages>